@import "tailwindcss";

:root {
  --font-pp-editorial: "PP Editorial New", Georgia, serif;
  --font-noto-serif-jp: "Noto Serif JP", serif;
  --font-mixed: "PP Editorial New", "Noto Serif JP", Georgia, serif;
}

@theme {
  --color-light: #f0f0f0;
  --color-light-hover: #d0d0d0;
  --color-dark: #242424;
  --color-dark-hover: #444444;

  --color-red-std: #e63946;
  --color-orange-std: #f4845f;
  --color-yellow-std: #ffd166;
  --color-green-std: #06d6a0;
  --color-blue-std: #118ab2;
  --color-indigo-std: #5c6bc0;
  --color-violet-std: #9b5de5;

  --text-huge: 4rem;
  --text-h1: 3.3rem;
  --text-h2: 2.78rem;
  --text-h3: 2.31rem;
  --text-h4: 1.93rem;
  --text-h5: 1.61rem;
  --text-h6: 1.33rem;

  --duration-std: 100ms;
}

body {
  font-family: var(--font-pp-editorial);
}

.zh {
  font-family: var(--font-noto-serif-jp);
}

.font-pp-editorial {
  font-family: var(--font-pp-editorial);
}

.font-ultralight {
  font-weight: 200;
}

.font-regular {
  font-weight: 400;
}

.font-ultrabold {
  font-weight: 800;
}

.text-huge {
  font-size: var(--text-huge);
}

.nav-button,
.nav-button-dark {
  cursor: pointer;
  text-decoration-line: underline;
  transition-duration: var(--duration-std);
}

.nav-button-dark:hover {
  color: var(--color-light-hover);
}

.nav-button:hover {
  color: var(--color-dark-hover);
}
