---
import ItemPage from "../../layouts/ItemPage.astro";
---

<ItemPage currentPage="projects">
  <div class="flex">
    <h1 class="text-h2 md:text-h1 italic bg-indigo-std/40 w-fit p-6">
      Projects
    </h1>
    <div class="flex-1 bg-blue-std/40">
      <!-- This will be the search bar -->
    </div>
  </div>
  <main class="bg-blue-std">
    <!-- Projects content will go here -->
  </main>
</ItemPage>
